@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background:#F2F2F2;
  
}
@layer components {


   
     
    
    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
       
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        width: 20px;
        transition: all 0.15s ease-out 0s;
        background: #fff;
        border: 1px solid #B1B1B1;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
      }
      .option-input:hover {
        background: #9faab7;
        
      }
    
      .option-input:checked {
        background: #4b9ce2;

      }
      .option-input:checked::before {
        width: 20px;
        height: 20px;
        display:flex;
        content:'';
        background-size: 20px 20px;
        padding-bottom:2px;
        background-image:url('assets/images/checked.svg') ; 
        background-repeat: no-repeat;
        border:none;

       
        font-size: 15px;
        font-weight:bold;
     
     
        align-items:center;
        text-align:center;
       
        justify-content:center;
      }
      .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #40e0d0;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
      }
      .option-input.radio {
        border-radius: 50%;
      }
      .option-input.radio::after {
        border-radius: 50%;
      }
  body {
    @apply overflow-x-hidden lg:overflow-x-auto xl:overflow-x-hidden xl:overflow-y-scroll;
  }
  .textlayer {
    @apply text-3xl font-bold underline;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .toggle-bg:after {
    content: '';
    @apply absolute top-0.5 left-0.5 bg-white border border-[#EBEBEB] rounded-full h-5 w-5 z-50 transition shadow-sm;
}
input:checked + .toggle-bg:after {
    transform: translateX(100%);
    @apply border-white;
}
input:checked + .toggle-bg {
    @apply bg-[#4B9CE2] ;
}

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .tabsborder {
    padding: 3px 0px 5px 0px;
    border-bottom: 2px solid #4b9ce2;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    color: #4b9ce2;
  }
  .border {
    padding: 7px 0px 14px 0px;
    border-bottom: 2px solid #4b9ce2;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    color: #4b9ce2;
  }

  .appContainer {
    @apply overflow-hidden lg:overflow-x-scroll lg:overflow-y-scroll 2xl:overflow-x-hidden overflow-y-scroll bg-gray-50;
  }
  /* login */
  .loginContainer {
    @apply flex  justify-center md:flex   2xl:flex 2xl:flex-row 2xl:flex-nowrap  2xl:w-[120em] 2xl:h-[1080px]   2xl:min-h-screen bg-[#F2F2F2];
  }
  .loginMain {
    @apply lg:w-[67.813em] 2xl:w-[67.813em] w-[34.813em] overflow-hidden  bg-theme-bg-white h-full flex-col flex items-center text-center;
  }
  .loginLogoContainer {
    @apply mt-[28.54px] w-[148.63px] h-[48.46px] mx-auto inset-x-0 lg:mt-[133px] lg:w-[225px] lg:h-[74px];
  }
  .bannerLogin {
    @apply hidden md:flex md:w-[52.1879em] lg:w-[52em] min-h-screen  xl:w-[52.1879em]   bg-login-banner bg-cover bg-center;
  }
  .formLoginContainer {
    @apply bg-[#FFFFFF] rounded-[8px] w-[355px] h-[435px] lg:w-[35.563em] lg:h-[34.625em] items-center   text-black  shadow-lg shadow-[#1E36480A] lg:mt-14 mt-7;
  }

  .formLoginInputs {
    @apply flex flex-col  lg:items-center  lg:pt-[4.375em] lg:pb-[4.375em] w-full h-full;
  }
  .loginForm {
    @apply mt-[3.125em] w-[315px] h-[130px] mx-auto lg:w-[389px] lg:h-[176px];
  }
  .loginEmailInput {
    @apply flex flex-col mx-auto;
  }
  .loginPasswordInput {
    @apply flex flex-col mx-auto mt-[15px];
  }
  .forgetPasswordContainer {
    @apply flex  w-full  flex-col;
  }
  .loginContainerButton {
    @apply w-full mb-[20px] bg-[#4B9CE2] rounded-[8px] leading-6 h-[45px] mt-[30px] text-white text-[1.125em] font-bold cursor-pointer;
  }

  /* register */
}
